<header>
  <nav class="navbar">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/cards">Cards</a></li>
      <li><a href="/deckfile">Deck File</a></li>
      <li><a href="/trade">Trade</a></li>
      <li><a href="/buy">Buy</a></li>
      <li><a href="/sell">Sell</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</header>

