<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy</title>
  <link rel="stylesheet" href="styles.css">
  <script src="script.js" defer></script>
</head>
<body>
  <%- include('partials/header'); %>
  <h1>Buy</h1>
  <h2>You have <%=packsLeft %> free pack(s)</h2>
  <div class="packcontainer">
    <img src="https://d2yhutf68q06qd.cloudfront.net/packs/blue_eyes_pack.jpg" alt="blue eyes pack" class="packimage">
    <% if (packsLeft > 0) { %>
      <button id="buyblueeyes">Free Pack</button>
    <%} else { %>
      <button disabled>Free Pack</button>
    <% } %>
  </div>
  <div id="newcards">

  </div>
  <script>
    function getRandomNumber(min, max) {
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }
    document.addEventListener('DOMContentLoaded', function() {
      document.addEventListener('click', function(event) {
        if (event.target.id === 'buyblueeyes') {
          let randomCardIndexes = [];
          for (let i = 0; i < 9; i++) {
            const randomNumber = getRandomNumber(1, 125);
            randomCardIndexes.push(randomNumber);
          }
          fetch('/boughtblueeyes', {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({ cardIndexes: randomCardIndexes }),
          })
          .then(response => {
            if (response.ok) {
              // Redirect to the desired path after a successful response
              window.location.href = '/cards';
            } else {
              console.error('Failed to send data to the server');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    });
  </script>
</body>
</html>