<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Deck File</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <%- include('partials/header'); %>
  <h1>Deck File</h1>
  <h2>Since most browsers will probably not allow downloading files from random shitty sites you will have to create the ydk file yourself</h2>
  <h2>Open notepad (or whichever text editor you want), copy and paste the text below starting from #created by THE FELLAS CASINO</h2>
  <h2>Save the file as anynameyouwant.ydk (change the 'Save as type:' option to All Files)</h2>
  <div class="deckfile">
    <%- deckfilestring %>
  </div>
</body>
</html>