.body {
    margin: 0;
}

.container {
background-color: #333;
padding: 1rem;
margin-top: 1rem;
}

.draggable {
/* padding: 1rem;
background-color: white;
border: 1px solid black; */
cursor: move;
}

.draggable.dragging {
opacity: 0.5;
}

.resized-image {
width: 75px; /* Adjust the percentage or use a specific value */
height: auto; /* Maintain the aspect ratio */
}

/* Add this CSS to your stylesheet or in a <style> tag in your HTML file */
.navbar {
    background-color: #333; /* Set the background color */
  }
  
.navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left; /* Make list items float horizontally */
}

.navbar a {
    display: block;
    color: white; /* Set the text color */
    text-align: center;
    padding: 14px 16px; /* Add some padding around the links */
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd; /* Change the background color on hover */
    color: black; /* Change text color on hover */
}

.deckfile {
    background-color: #9c8a59
}

.packimage {
    width: 100px;
}